<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
 <!--  <script src="/Public/js/kindeditor/kindeditor-all.js"></script> -->
  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=movie">电影管理</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 电影添加
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-6">

          <form class="form-horizontal" id="singcms-form">
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">电影名称:</label>
              <div class="col-sm-5">
                <input type="text" name="movie_name" class="form-control" id="inputname" placeholder="请填写电影名称">
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">上映时间:</label>
              <div class="col-sm-5">
                <input type="text" name="up_time" class="form-control" id="inputname" placeholder="请填写上映时间">
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">缩图:</label>
              <div class="col-sm-5">
                <input id="file_upload"  type="file" multiple="true" >
                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                <input id="file_upload_image" name="pic" type="hidden" multiple="true" value="">
              </div>
            </div>

             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">类型:</label>
              <div class="col-sm-5">
                <select class="form-control" name="movie_type">
                  <option value="">==请选择类型==</option>
                    <foreach name="movie_type" item="Mtype">
                      <option value="{$key}">{$Mtype}</option>
                    </foreach>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">评分:</label>
              <div class="col-sm-5">
                <input type="text" name="grade" class="form-control" id="inputname" placeholder="请填写评分">
              </div>
            </div>
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">描述:</label>
              <div class="col-sm-5">
                <textarea class="input js-editor" id="editor_singcms" name="describle" rows="25" ></textarea>
              </div>
            </div>
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">排名:</label>
              <div class="col-sm-5">
                <input type="text" name="rank" class="form-control" id="inputname" placeholder="请填写排名">
              </div>
            </div>
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">票房数:</label>
              <div class="col-sm-5">
                <input type="text" name="count" class="form-control" id="inputname" placeholder="请填写票房数">
              </div>
            </div>
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">主演:</label>
              <div class="col-sm-5">
                <input type="text" name="actors" class="form-control" id="inputname" placeholder="请填写主演">
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">导演:</label>
              <div class="col-sm-5">
                <input type="text" name="director" class="form-control" id="inputname" placeholder="请填写导演">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
              </div>
            </div>
          </form>


        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<script>
  var SCOPE = {
    'save_url' : '/admin.php?c=movie&a=add',
    'jump_url' : '/admin.php?c=movie',
    'ajax_upload_image_url' : '/admin.php?c=image&a=ajaxuploadimage',
    'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
  };

</script>
<!-- /#wrapper -->
<script src="/Public/js/admin/image.js"></script>
<script>
  // 6.2
  // KindEditor.ready(function(K) {
  //   window.editor = K.create('#editor_singcms',{
  //     uploadJson : '/admin.php?c=image&a=kindupload',
  //     afterBlur : function(){this.sync();}, //
  //   });
  // });
</script>
<include file="Index/footer" />