<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=message">电影管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i>电影列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div>
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
      </div>
      <div class="row">
        <form action="/admin.php" method="get">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">栏目</span>
              <select class="form-control" name="catid">
                <option value='' >全部分类</option>
                <foreach name="webSiteMenu" item="sitenav">
                  <option value="{$sitenav.menu_id}" >{$sitenav.name}</option>
                </foreach>
              </select>
            </div>
          </div>
          <input type="hidden" name="c" value="message"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="" placeholder="电影名称" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <th id="singcms-checkbox-all" width="10"><input type="checkbox"/></th>
                  <!-- <th width="14">排序</th> --><!--6.7-->
                  <th>id</th>
                  <th>电影名</th>
                  <th>用户名</th>
                  <th>用户头像</th>
                  <th>内容</th>
                  <th>上映时间</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="message" id="message">
                  <tr>
                    <td><input type="checkbox" name="delCheck" value="{$message.id}"></td>
                    <td>{$message.id}</td>
                    <td>{$message.movie_name}</td>
                    <td>{$message.username}</td>
                    <td>{$message.avator|isThumb}</td>
                    <td>{$message.content}</td>
                    <td>{$message.time}</td>
                    <td><span  attr-status="<if condition="$message['status'] eq 1">0<else/>1</if>"  attr-id="{$message.id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$message.status|status}</span></td>
                    <td>
                      <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$message.id}"  attr-message="删除">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </a>
                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <nav>
                <ul >
                  {$pageres}
                </ul>
              </nav>
             
            </form>
            <div class="input-group">
              <button id="btn-datchDel" type="button" class="btn btn-primary">批量删除</button>
            </div>

          </div>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
  var SCOPE = {
    'set_status_url' : '/admin.php?c=message&a=setStatus',
    'sing_messages_view_url' : '/index.php?c=view',
    'batchDel_url' : '/admin.php?c=message&a=batchDel',
  }
</script>
<include file="Index/footer" />