<include file="Index/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="banner">
          <div class="banner-left">
            <ul>
              <volist name="result['topPic']" id="vo">
                <li style="list-style: none;">
                  <a target="_blank" data-src="/index.php?c=detail&id={$vo.movie_id}"><img width="1200" height="360" src="{$vo.big_pic}" alt="{$vo.movie_name}"></a>
                </li>
              </volist>

            </ul>
          </div>
        </div>
       
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-9">
          <div class="news-list">
            <volist name="result['listMovies']" id="vo">
              <div class="wrap col-md-3 col-sm-4">
                <div class="movie_pic"><a target="_blank" href="/index.php?c=detail&id={$vo.movie_id}" style="background:url({$vo.pic}) no-repeat center; background-size: 100% 100%;" ><span class="grade">{$vo.grade}</span></a></div>
                <div class="ms">
                  <span class="movie_name">{$vo.movie_name}</span>
                  
                  <span class="type">{$vo.movie_type}</span>
                  
                </div>
              </div>
            </volist>
          </div>
      </div>
      <!--网站右侧信息-->
      <div class="col-sm-3 col-md-3">
        <include file="Index/right" />
      </div>
    </div>
  </div>
</section>
</body>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/count.js"></script>
<script type="text/javascript">
  $(function(){
    console.log('123432cndiasndklsnvjfdsn');
    var dataHref = $('.banner-right li:first-child a').attr('data-src');
    var dataSrc = $('.banner-right li:first-child img').attr('src');
    console.log(dataHref);
    $('.banner-left a').attr('href',dataHref);
    $('.banner-left a img').attr('src',dataSrc);
  })
</script>
</html>