<include file="Index/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
              <!-- <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li> -->
          </ol>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
<!--                 <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li> -->
            </ol>
           
            <div class="carousel-inner" role="listbox">
              <volist name="result['topPic']" id="vo">
                <div class="item">
                    <a href="/index.php?c=movie_detail&id={$vo.movie_id}"><img width="100%" src="{$vo.big_pic}" alt="{$vo.movie_name}"></a>
                    <div class="carousel-caption">
                    {$vo.movie_name}
                    </div>
                </div> 
              </volist>  
               
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">上一张</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">下一张</span>
            </a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <!-- <div class="col-sm-9 col-md-9 home_tag"></div> -->
      <div class="col-sm-9 col-md-9">
          <div class="home_tag"><div class="line" style="left:10px;"></div><span>精彩推荐</span><div class="line" style="right:10px;"></div></div>
          <div class="news-list">
            <volist name="result['listMovies']" id="vo">
              <div class="wrap col-md-3 col-sm-4">
                <div class="movie_pic"><a target="_blank" href="/index.php?c=movie_detail&id={$vo.movie_id}" style="background:url({$vo.pic}) no-repeat center; background-size: 100% 100%;" ><span class="grade">{$vo.grade}</span></a></div>
                <div class="ms">
                  <span class="movie_name">{$vo.movie_name}</span>                  
                  <!-- <span class="type">{$vo.movie_type|getMovieType}</span> -->
                  
                </div>
              </div>
            </volist>
          </div>
      </div>
      <!--网站右侧信息-->
      <div class="col-sm-3 col-md-3">
        <include file="Index/right" />
        <include file="Index/rank_comment" />
      </div>
    </div>
  </div>
</section>
</body>
<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
<script type="text/javascript">
  //轮播显示
  $(function(){
    $('body').css('background-color', '#fff');
    $('.carousel-indicators').find('li').each(function(ele){
      if($(this).hasClass('active')){
        $index = $(this).index();
        $('.carousel-inner').find('.item').eq($index).addClass('active');
      }
    })

 
  })
</script>
</html>