<include file="Index/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
          </ol>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a target="_blank" href="http://www.xunyingwang.com/movie/204063.html"><img width="100%" src="http://ww1.sinaimg.cn/large/828dc694gy1fdtbu3yjm0j20s20ci7ka.jpg" alt="星球大战外传：侠盗一号迅雷下载"></a>
                    <div class="carousel-caption">
                    星球大战外传：侠盗一号迅雷下载
                    </div>
                </div>   
                <div class="item">
                    <a target="_blank" href="http://www.xunyingwang.com/movie/204877.html"><img width="100%" src="http://ww1.sinaimg.cn/large/828dc694gy1fdohk74si8j20s20ciwpo.jpg" alt="生化危机：终章迅雷下载"></a>
                    <div class="carousel-caption">
                    生化危机：终章迅雷下载
                    </div>
                </div>    
                <div class="item">
                    <a target="_blank" href="http://www.xunyingwang.com/movie/204858.html"><img width="100%" src="http://ww1.sinaimg.cn/large/828dc694gy1fdk44h42kmj20s20cidzi.jpg" alt="刺客信条迅雷下载"></a>
                    <div class="carousel-caption">
                    刺客信条迅雷下载
                    </div>
                </div>    
                <div class="item">
                    <a target="_blank" href="http://www.xunyingwang.com/movie/204990.html"><img width="100%" src="http://ww1.sinaimg.cn/large/828dc694gy1fdbwk1fpu3j20s20ci4qp.jpg" alt="你好，疯子！迅雷下载"></a>
                    <div class="carousel-caption">
                    你好，疯子！迅雷下载
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">上一张</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">下一张</span>
            </a>
          </div>
        </div>



        <!-- <div class="banner">
          <div class="banner-left">
            <ul>
              <volist name="result['topPic']" id="vo">
                <li style="list-style: none;">
                  <a target="_blank" data-src="/index.php?c=detail&id={$vo.movie_id}"><img width="1200" height="360" src="{$vo.big_pic}" alt="{$vo.movie_name}"></a>
                </li>
              </volist>

            </ul>
          </div>
        </div> -->
       
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 home_tag"><span>精彩推荐</span></div>
      <div class="col-sm-9 col-md-9">
          <div class="news-list">
            <volist name="result['listMovies']" id="vo">
              <div class="wrap col-md-3 col-sm-4">
                <div class="movie_pic"><a target="_blank" href="/index.php?c=movie_detail&id={$vo.movie_id}" style="background:url({$vo.pic}) no-repeat center; background-size: 100% 100%;" ><span class="grade">{$vo.grade}</span></a></div>
                <div class="ms">
                  <span class="movie_name">{$vo.movie_name}</span>
                  
                  <!-- <span class="type">{$vo.movie_type}</span> -->
                  
                </div>
              </div>
            </volist>
          </div>
      </div>
      <!--网站右侧信息-->
      <div class="col-sm-3 col-md-3">
        <include file="Index/right" />
      </div>
    </div>
  </div>
</section>
</body>
<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
</html>