  <div class="right-title">
    <h3>电影排行</h3>
    <span>TOP MOVIE</span>
  </div>

  <div class="right-content">
    <ul>
      <volist name="result['rankMovies']" id="vo" key="k">
      <li class="num{$k} curr">
        <a target="_blank" href="/index.php?c=detail&id={$vo.movie_id}">{$vo.movie_name}</a>
      </li>
      </volist>
    </ul>
  </div>
  <!-- <volist name="result['advNews']" id="vo" key="k">
  <div class="right-hot">
    <a target="_blank" href="{$vo.url}"><img src="{$vo.thumb}" alt="{$vo.name}"></a>
  </div>
  </volist> -->
