<include file="Index/header" />
<div class="containter" style="background-color: #F4F4F4;">
   <div class="row">
        <span class="per-set col-sm-offset-2 col-lg-8 col-md-8 col-sm-8" style="background-color: #fff;">账户设置</span>
        <div class="col-sm-offset-2 col-lg-8 col-md-8 col-sm-8" style="background-color: #fff;padding-bottom: 80px;">
      
          <form class="form-horizontal" id="singcms-form">
            <div class="form-group avator">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label" style="padding-top: 50px;">头像</label>
              <div class="col-sm-6">
                
                <img id="upload_org_code_img" <if condition="($user.pic neq '')">src="{$user.pic}"<else />src="/Public/images/user_pic.png"</if> width="120" height="120">
                <input id="file_upload" class="avator_person" type="file" multiple="true" >
                <input id="file_upload_image" name="pic" type="hidden" multiple="true"<if condition="($user.pic neq '')">value="{$user.pic}"<else />value="/Public/images/user_pic.png"</if>>
              </div>
            </div>
           
            <div class="form-group">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">用户名</label>
              <div class="col-sm-6">
                <input type="text" name="username" class="form-control" id="inputname" value="{$user.username}">
              </div>
            </div>
            
             <div class="form-group">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">邮箱</label>
              <div class="col-sm-6">
                <input type="text" name="email" class="form-control" id="inputname" value="{$user.email}">
              </div>
            </div>

            <div class="form-group sex">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">性别</label>
              <div class="col-sm-6">
                <input id="sex" name="sex" type="radio" value="0" <if condition="($user.sex eq 0)">checked="true"</if> /><span>男</span>
                <input id="sex" name="sex" type="radio" value="1" <if condition="($user.sex eq 1)">checked="true"</if> /><span>女</span>
              </div>
            </div>
            
             <div class="form-group">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">手机号</label>
              <div class="col-sm-6">
                <input type="text" name="phone" class="form-control" id="inputname" value="{$user.phone}">
              </div>
            </div>

            <div class="form-group">
              <label for="inputname" class="col-sm-2 col-sm-offset-2 control-label">喜欢的电影类型</label>     
              <div class="col-sm-6">
                 <select class="form-control" name="movie_type">
                  <option value="">--请选择类型--</option>    
                  <option value="1">动作</option>
                  <option value="2">喜剧</option>
                  <option value="3">悬疑</option>
                  <option value="4">科幻</option>
                  <option value="5">爱情</option>
                  <option value="6">恐怖</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-lg-8 col-md-8 col-sm-8" style="text-align: right;margin-top: 20px;">
                <button type="button" style="padding:5px 30px;background-color: #F9AE4C; font-size: 22px;color: #fff;" class="btn btn-default" id="singcms-button-submit">提交</button>
              </div>
            </div>
          </form>
        </div>
 </div>
</div>

</body>
<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Public/js/dialog/layer.js"></script>
<script type="text/javascript" src="/Public/js/dialog.js"></script>
<script type="text/javascript" src="/Public/js/party/jquery.uploadify.js"></script>

<script>
  var SCOPE = {
    'save_url' : '/index.php?c=user&a=personal',
    'jump_url' : '/index.php',
    'ajax_upload_image_url' : '/admin.php?c=image&a=ajaxuploadimage',
    'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
  };

</script>
<script type="text/javascript">
  $(function(){
    var winH = $(window).height();
    $('.containter').height(winH);
  })
</script>
<script type="text/javascript" src="/Public/js/admin/common.js"></script>
<script type="text/javascript" src="/Public/js/admin/image.js"></script>
</html>