*{
	padding:0;
	margin:0;
}
li{
	list-style:none;
}
.clearfix{*zoom:1;}
.clearfix:after {content: "";height: 0;visibility: hidden;display: block;clear: both;
}
.clear{ clear:both;}
body{
	font-family:'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'STHeitiSC-Light', 'Arial', 'Segoe UI', sans-serif;
	font-size: 14px;

}
.navbar-inverse{
	background: #262626;
}
.navbar-inverse .navbar-nav{
	padding-left: 45px;
}
.navbar-inverse .navbar-nav>li>a{
	font-size: 16px;
	color:#fff;
	line-height: 36px;
}
.navbar-inverse .navbar-nav>li>a.curr{
	border-bottom:2px solid #e54e47;
	padding-bottom: 13px;
	background: -moz-linear-gradient(top, #262626, #111c18,50%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #262626), color-stop(1, #111c18));
}
.banner{
	padding: 20px 0;
	overflow: hidden;
}
/* .banner-left {
	float: left;
	position: relative;
	width:670px;
}
.banner-left img{
	float: left;
	width: 100%;
	max-width: 670px;
} */
.banner-left {
	position: relative;
	width: 1200px;
	height: 360px;
}
.banner-left ul{
	height: 100%;
	overflow: hidden;
}
.banner-left ul li{
	width: 1200px;
	height: 100%;
	float: left;
	list-style: none;
	display: none;
}
.banner-left ul li:first-child{
	display: inline-block;
}
.banner-left ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.banner-dot{
	position: absolute;
	bottom: 10px;
	right: 10px;
	list-style: none;
}
.banner-dot li{
	float: left;
	margin-right: 5px;
	width: 8px;
	height: 8px;
	background: url(../../images/white.png);
	cursor: pointer;
}
.banner-dot li.curr{
	background: url(../../images/red.png);
}
.banner-info{
	position: absolute;
	left: 50px;
	top: 38px;
	width: 180px;
	height: 50px;
	line-height: 50px;
	background: rgba(0,0,0,0.3);
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.banner-info span{
	float: left;
	width: 50px;
	height: 50px;
	background: #e94d3d;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}


/*分页*/
.page_bottom{
	margin-top: 20px;
	text-align: center;
}
.page_bottom .current,.page_bottom a{
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding:9px 0;
	margin:0 5px;
	color: #999;
	background-color: #fff;
	border:1px solid #E7E6E6;

}
.page_bottom .current{
	color: #f00;
}
.pre{
	left: 10px;
	background: url(../../images/left.png)
}
.next{
	right: 10px;
	background: url(../../images/right.png)
}

/*.banner-right{
	float: right;
	width:150px;
	height:113px;
}
.banner-right ul{
	padding: 0;
	list-style: none;
}
.banner-right li{
	padding-bottom: 11px;
}
.banner-right li:last-child{
	padding-bottom: 0;
}*/
.wrap{
	position: relative;
	height: 220px;

}
.wrap .movie_pic{
	width: 90%;
	margin:0 5%;
	height: 80%;
	overflow: hidden;

}
.wrap .movie_pic a{
	position: relative;
	display: block;
	width: 95%;
	height: 100%;
	overflow: hidden;
}

.wrap .ms{
	width: 90%;
	margin:0 5%;
	/*padding:12px;*/
	height: 20%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.wrap .ms span{
	display: inline-block;
	margin:0 8px;
}
.grade{
	position: absolute;
	bottom:0px;
	right:0px;
	width: 30px;
	height: 20px;
	background-color: #74ab34;
	text-align: center;
	vertical-align: middle;
	color:#fff;
}

.news-intro{
	color: #646464;
	padding-bottom: 20px;
	min-height: 60px;
}
.news-info{
	font-size: 12px;
}
.news-info span{
	display:inline-block;
	padding: 0 15px 0 35px;
}
.right-title, .rank-title{
	margin-top: 20px;
	padding: 5px 0;
	text-align: center;
}
.rank-title{
	margin-top: 40px;
	margin-bottom: 20px;
}
.rank-content{
	padding-left: 10px;
}
.right-title h3, .rank-title h3{
	margin:0;
	margin-top: 5px;
	line-height: 100%;
	font-weight: normal;
}
.right-title span, .rank-title span{
	font-size: 12px;
	color: #9a9792
}
.right-tab{
	list-style: none;
	line-height: 45px;
}
.right-tab ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #f3f3f3;
}
.right-tab li{
	text-align: center;
	list-style: none;
	float: left;
	width: 50%;
	cursor: pointer;
}
.right-tab li.curr{
	border-bottom: 2px solid #e44d46;
}
.right-content ul{
	padding: 10px;
}
.right-content li{
	padding:14px 10px 14px 50px;
	list-style: none;
	background-position: 30px 12px;
	background-repeat: no-repeat;
	border-bottom: 1px dashed #f3f3f3;
	font-size: 12px;
	text-align: center;
}
.right-content li:last-child{
	border: 0;
}
.right-content li .intro{
	display: none;
	padding-top: 5px;
	color: #a2a2a0;
}
.right-content li.num1{
	background-image: url(../../images/num1.png);
}
.right-content li.num2{
	background-image: url(../../images/num2.png);
}
.right-content li.num3{
	background-image: url(../../images/num3.png);
}
.right-content li.num4{
	background-image: url(../../images/num4.png);
}
.right-content li.num5{
	background-image: url(../../images/num5.png);
}
.right-content li.num6{
	background-image: url(../../images/num6.png);
}
.right-content li.num7{
	background-image: url(../../images/num7.png);
}
.right-content li.num8{
	background-image: url(../../images/num8.png);
}
.right-content li.num9{
	background-image: url(../../images/num9.png);
}
.right-content li.num10{
	background-image: url(../../images/num10.png);
}
.right-content a{
	margin: 0;
	font-size: 14px;
	line-height: 100%;
	color: #000;
	padding-left: 14px;
}
.right-content li.curr a{
	font-size: 16px;
}
.right-content li.curr .intro{
	display: block;
}
.right-hot{
	padding-top: 20px;
}
.right-hot img{
	max-width: 100%;
	width: 100%;
}
@media only screen and (max-width: 1200px) {
	.banner-right{
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-nav{
		padding-left: 0;
	}
	.news-list dl{
		padding: 10px 0;
	}
	.news-list dt, .news-list dd{
		margin-left: 0;
		padding: 5px 0;
	}
	.news-list dd.news-img{
		position: relative;
		top: 0;
	}

}
.sing_display_none{
	display: none;
}
.sing_display_block{
	display: block;
}

/*首页*/
.nav-com{
	margin-top: 12px;
}
.user-nav{
	background-color: #262626;
}
.nav .open>a, .user-nav>li>a:hover{
	background-color: #262626!important;
}
.user-nav a{
	color:#fff;
}
.dropdown-menu{
	width: 60px;
	padding: 0px;
}
.dropdown-menu li{
	height: 36px;
	line-height: 36px;
}
.dropdown-menu li a{
	display: inline-block;
	width: 100%;
}
.dropdown-menu .divider{
	margin:0;
}
.dropdown-menu li:hover,.dropdown-menu a:hover{
	background-color: #ccc!important;
}
.home_tag{
	position: relative;
	display: block;
	margin:20px auto;
	text-align: center;
	font-size: 20px;
	color: #777;
	font-family:'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'STHeitiSC-Light', 'Arial', 'Segoe UI', sans-serif;
}
.home_tag span{
	display:inline-block;width: 160px;height: 100%;background-color: #fff;
}
.home_tag .line{
	width: 40%;height:0px;border-bottom: 1px solid #777;position: absolute;top:16px;
}

/*详情页*/
#commentTab{
	width:94%;
	position: relative;
	left: 3%;
	overflow: hidden;
}
.movie-detail{
	width: 100%;
	overflow:hidden;
}
.movie-detail h1{
	color: #000;
	font-size: 26px;
	margin-bottom: 28px;
}
.tag{
	display: block; 
	border-left: 4px solid #f00;
	padding-left: 16px;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	color: blue;
}
.mode{
	margin-bottom: 40px;
}
.movie-detail .movie-left{
	height: 370px;
}
.movie-detail .movie-left img{
	display: block;
	width: 100%;
	max-height: 320px;
}
.movie-detail .movie-right li{
	display: block;
	line-height: 40px;
	border-bottom: 1px solid #f7eeee;

}
.movie-detail .movie-right li strong{
	display: inline-block;
	width: 80px;
	font-weight: 500;
	font-style: normal;
	color: #000;
}
.movie-detail .movie-right li span{
	display: inline-block;
	
}


/*movie index*/
.list_mode{
	margin-top: 20px;
}
.tag_movie{
	display: block;
	text-align: center;
	font-size: 20px;
	color: #000;
	margin: 30px 0;
	width:120px;
	border-left:4px solid #26ca38;
	border-right:4px solid #26ca38;

}
.movie-list{
	width: 100%;
	padding:20px 0px 30px;
	
}
.movie-item{
	padding:14px;
}
.col-xs-1-5{
	float: left;
	width: 20%;
}

.movie-pic a{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 265px;
}

.ms{
	width: 100%;
	height: 40px;
	padding:6px 10px;
	background-color: #fff;
}


/*影评 index*/
.sider{
	background-color: #fff;
	margin-top: 20px;
}
.com_wrap{
	background-color:rgb(245,245,245);
}

.top_com{
	padding:0px;
	margin:20px 0 30px;
	width: 100%;
	position: relative;
}
.top_com img{
	display: block;
	width: 100%;
}
.top_com p{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom:0px;
	left: 0px;
	margin:0px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 20px;
	background-color: rgba(0,0,0,.7);
}
.top_com p a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.top_com p a:hover{
	color:orange;
}
.top_com p span{
	position: absolute;
	right: 20px;
	font-size: 18px;
	color: #FCEA5E
}
.top_com p span img{
	display: inline-block;
	width: 30px;
	margin-right:10px;
}
.fL{
	float: left;
}
.fR{
	float: right;
}


.comment{
	padding:0px 10px 20px;
	background-color: #fff;
	border-radius: 20px;
}
.com_tag{
	display: block;
	font-size:22px;
	padding: 20px 0px 10px;
	color:orange;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.com_dl{
	width: 100%;
	border-bottom: 1px solid rgba(235,235,235,.7);
}
.com_l{
	width: 16%;
	height: 100%;
}

.com_l a{
	display: block;
	width: 60%;
}
.com_l a img{
	display: block;
	width: 100%;
	border-radius: 50%;
}
.com_l .com_name{
	font-size: 12px;
	color:#f60;
	padding: 8px 0;
	text-align: center;
	font-weight: normal;
}
.com_c{
	width: 83%;
	height: 100%;
}
.com_c .com_title{
	color:#4694E7;
	font-size:16px;
}
.com_c>p{
	font-size:14px;
}

/*个人中心*/
#personal-form{
	margin-top: 160px;
}
.per-set{
	display: block; 
	text-align: center; 
	font-size: 24px;
	color: #000; 
	font-weight: normal;
	height: 80px; 
	line-height: 80px; 
	margin-top: 40px;
}
#personal-form .form-group{
	margin-bottom: 30px;
	height: 40px;
	line-height: 40px;	
}
#personal-form .form-group label{
	height: 40px;
	padding-top:0px;
	color:#a3a3a3;
	font-size: 16px;
	text-align: left;
	font-weight: normal;
}
#personal-form .form-group input{
	display: inline-block;
	height: 40px;

}
#personal-form .avator{
	height: 120px;
}
#personal-form .avator label{
	margin-top:40px;
}
#file_upload-queue{
	display: none;
}
.avator #upload_org_code_img{
	float: left;
	margin-left: 20px;
	display: inline-block;
	border-radius: 50%;
}

.avator #file_upload{
	float: left;
	margin:40px 0 0 40px;
	background-color: #F9AE4C;
	text-align: center;
	color: #fff;
	border-radius: 20px;

}
.sex{
	text-align: center;
}
.sex input[type="radio"],.sex span{
	float: left;
	margin-top:0px;

}
.sex span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin: 0 30px 0 20px;
	color: #000;
}

#personal-form .btn{
	width: 200px;
	background-color: #F9AE4C;
	border-radius: 20px;
	color: #000;
	font-size: 16px;
}

/*comment detail*/
.comment-detail{
	padding:30px 10px 20px;
	background-color: #fff;	
	margin-top:30px;

}
.titleBox{
	text-align: center;
}
.titleBox h1{
	font-size: 22px;
	margin-bottom: 20px;
}
.title-info{
	margin:20px 0px;
}
.comCont p {
	text-indent: 2em!important;
}


.top_com{
	height: 300px;
	overflow: hidden;
}
.top_com>img{
	display: block;
	width: 100%;
	min-height: 300px;
}

/*music index*/
.musicWrap{
	width: 90%;
	margin-top:30px;
}
.musicWrap li{ 
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding:0 30px;
	border-bottom:1px solid #f5f8fb;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
}
.musicWrap li:hover{
	background-color: rgba(0,0,0,.02);
	color:#FFAF79;
}
.musicWrap li a{
	display: inline-block;
	width:220px;
	text-align: left;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}
.musicWrap li span{
	display: inline-block;
	text-align: left;
}
.music_singer{
	width:25%;
}
.music_mv{
	width:30%;
}
.music_time{
	float: right;
	width:10%;
}
.mu_txt{
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	
}
.mu_txt:nth-of-type(1){
	margin-top: 80px;
}
.plane p{
	padding: 60px 30px 10px;
	font-size: 16px;



}



/*music detail*/

.plane{
	width: 20%;
	background:rgba(0,0,0,0.04) url('/Public/images/cat_tran.png') no-repeat center bottom; 
	background-size: 100% auto;
	overflow: hidden;
	position: fixed;
	top:20px;
	left: 0;
	font-family:Verdana, Geneva, sans-serif;

}
.singer_img{
	float: left;
	width: 250px;
	height: 350px;
	margin-top: 100px;
	
	overflow: hidden;
	
}
.singer_img img{
	display: block;
	width: 100%;
	border-radius: 50%;
	padding-bottom: 20px;
}
.singer_img p{
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	color:blue;
}

.lyrics{
	float: right;
	padding-right: 30px;
	width: 420px;
	text-align: center;
	margin-top: 100px;
}
pre{
	position: absolute;
	right:2%;
	border:none;
	text-align: center;
	background-color:#fff;
	font-size: 14px;
	letter-spacing: .1em;
}
.lyrics p{
	font-size:14px;
	color:#333;
}
.lyrics_wrap{
	/*border:1px solid #ccc;*/
	width:100%;
	height: 400px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.play{
	margin-top: 20px;
}
.play audio{

	width: 90%;
}







