<include file="Index/header" />
<?php 
	$vo = $result['movie'];
?>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9">
					<div class="movie-detail">
						<h1>{$vo.movie_name}</h1>
						<div class="row">
							<div class="col-xs-4 movie-left">
								<img src="{$vo.pic}">
							</div>
							<div class="col-xs-8 movie-right">
								<span><strong>导演：</strong>{$vo.director}</span>
								<span><strong>主演：</strong>{$vo.actors}</span>
								<span><strong>类型：</strong>{$vo.movie_type}</span>
								<span><strong>评分：</strong>{$vo.grade}</span>
								<span><strong>排名：</strong>{$vo.rank}</span>
								<span><strong>票房：</strong>{$vo.count}</span>
								<span><strong>上映时间：</strong>{$vo.up_time}</span>
								
							</div>
						</div>
						
					</div>
					<div class="col-xs-12 desc mode">
						<span class="tag">影片介绍</span>
						<p>{$vo.describle}</p>
					</div>
					<div class="col-xs-12 comment mode">
						<span class="tag">影片评论</span>
           			 	<div class="row">
							<div class="col-xs-12">

								<div style="margin-top:10px;">
									<volist name="result['review']" id="vo" key="k">
										<hr class="dline">
									    <table style="width:100%;overflow:auto;" id="comment1417" name="comment1417">
									        <tbody>
									            <tr>
										            <td width="38px" valign="top" align="center">
										                <a target="_blank" href="/u/178214"><img style="width:100%;border-radius:3px;" title="" src="/Public/images/user_avator.png"></a>
										            </td>
									            	<td width="10px"></td>
									            	<td width="auto">
										                <div class="reply-author">
										                    <a>{$vo.username}</a>
										                    <div class="reply-right" style="float: right;">
										                    	<em style="margin-right: 16px;">{$vo.time}</em>
										                    	<a>#{$k}</a>
										                    </div>
										                </div>
									                	<div class="reply-content">
									                		{$vo.content}
										                	<div style="overflow:auto;text-align:right;font-size:13px;">
												               	 <a href="javascript:;" onclick="zan(1417)">赞(0)</a>
												                | <a href="javascript:;" onclick="cai(1417)">踩(0)</a>
												                | <a href="javascript:;" onclick="replyto(1417,'严易易')">回复</a>
										                	</div>
									                	</div>
									              	</td>
									            </tr>
									           
									        </tbody>
									    </table>
									</volist>
									<div class="col-xs-12">
							            <div class="panel panel-default list-head reply-box" id="reply-box">
							            <div class="panel-heading title-breadcrumb"><div id="reply-to-box">发表：</div></div>
							            <div class="panel-body"><textarea id="replycontent" class="form-control" rows="8"></textarea></div>
							            <div class="panel-footer"><a><button id="re_btn" type="submit" class="btn btn-primary btn-block">发表</button></a></div>
								        </div>
								    </div>
								</div>
          					</div>
						</div>
					</div>
				</div>

				 <div class="col-sm-3 col-md-3">
			        <include file="Index/right" />
			      </div>
				<!-- end right-->
			</div>
		</div>
	</section>
</body>

<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Public/js/admin/common.js"></script>
<script type="text/javascript" src="/Public/js/dialog/layer.js"></script>
<script type="text/javascript" src="/Public/js/dialog"></script>
<script type="text/javascript" src="/Public/js/dialog.js"></script>
<script type="text/javascript">

	$("#re_btn").click(function(){
		var postData = {};
	    postData['content'] = $("#replycontent").val();
	    var href = window.location.href;
	    var id = href.split('&id=')[1];
	    postData['id'] = id;

	    // 将获取到的数据post给服务器
	    var url ='/index.php?c=movie_detail&a=add&id='+id;
	   
	    $.post(url,postData,function(result){
	        if(result.status == 1) {
	            //成功
	            $("#replycontent").val('');
	            return dialog.success(result.message,'/index.php?c=movie_detail&a=view&id='+id);
	        }else if(result.status == 0) {
	            // 失败
	            return dialog.error(result.message);
	        }
	    },"JSON");
	});
// $(function() {
//     var options={"currentPage":1,"totalPages":1,"totalCount":5,"numberOfPages":10,"bootstrapMajorVersion":3,"size":"small","alignment":"right"};
//     options['itemContainerClass'] = function (type, page, current) {
//         return (page === current) ? "active" : "pointer-cursor";
//     }
//     options['pageUrl'] = function(type, page, current){
//         return "javascript:;";
//     }
//     options['onPageClicked'] = function(e,originalEvent,type,page){
//         originalEvent.preventDefault();
//         originalEvent.stopPropagation();
//         $.get('/comment/commentList/movie/204990/'+page,function(data,status){
//                 $('.comment').html(data);
//             }
//         );
//     };
//     $('#pager').bootstrapPaginator(options);
// });
</script>
</html>