<include file="Index/header" />
<section>
  <div class="container" style="width:100%;margin: 0px;overflow: hidden;">
    <div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="plane">
				<h2 class="mu_txt">音&nbsp;&nbsp;&nbsp;乐</h2>
				<h2 class="mu_txt">心&nbsp;&nbsp;&nbsp;情</h2>
				<h2 class="mu_txt">生&nbsp;&nbsp;&nbsp;活</h2>
				<p>春风十里，暖阳，音乐文字旋律意境  和你...</p>
			</div>
	    </div>
	    <div class="col-sm-9 col-md-9">
	    	<div class="music_info clearfix">
	    		<div class="singer_img">
		    		<div class="pic"><img src="{$listmu.pic}" alt="歌手"></div>
		    		<p>歌曲：{$listmu.music_name}</p>
		    		<p>歌手：{$listmu.singer}</p>
		    		<!-- <div class="in_after"></div> -->
		    	</div>

		    	<div class="lyrics">
		    		<!-- <p class="">{$listmu.music_name}</p> -->
		    		<p style="display: none;">{$listmu.content}</p>
		    	</div>
	    	</div>
	    	
	    	<div class="play">
				<audio id="myaudio" controls="controls">
		            <source src="{$listmu.url}">
		        </audio>
		    </div>
	
	    </div>
 	</div>
  </div>
</section>
 </body>
<script type="text/javascript" src="/Public/js/jquery.js"></script>
<script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		var winH = $(window).height();
		$('.plane').height(winH);

		var str = $('.lyrics p').text();
		var s=str.replace(/\[.*\]/g,"\n");

		$('.lyrics').html("<div class='lyrics_wrap'><pre>"+s+"</pre></div>");

		function play(){
			var iTop = $('pre').offset().top;
			$('pre').offset({'top':iTop-60});
			$('.pic').addClass('active');
		}
		var timer = null;
		var myaudio = document.getElementById('myaudio');
		
			myaudio.onpause = function(){
				clearInterval(timer);
				$('.pic').removeClass('active');
			}
			myaudio.onplay = function(){
				timer = setInterval(play,6000);
			}
		


	})
</script>
</html>
